@import "tailwindcss";

@theme {
  --color-background: #00040D;
  --color-primary: #BE1622;
  --color-mian-button: #191D25;
  --color-sub-button: #292951;
  --color-header-background: #29295199;
  --color-header-background-blur: blur(50px);
  --color-input-placeholder: #B0B0BA;
  --color-background-dropdown: #141820;
  --color-background-dropdown-active: #272A32;
  --color-background-card: #13141ECC;
  --color-border-mian-category: #333A47;
  --color-background-secondary-categories: #272A31;
  --color-green: #51CAAD;
  --color-green-light: #25D5AB1A;

  --spacing-laptop: 1440px;

  --shadow-secondary-categories: 0 0 30.827px 5.138px rgba(129,134,211,0.25);
}

body {
  background: #00040D;
  font-family: var(--font-almarai), system-ui, sans-serif;
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
